Commander360Test.Console/Service References/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Commander360Test.Common.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Commander360Test.Common.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserNotFoundFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserNotFoundFault" nillable="true" type="tns:UserNotFoundFault" />
  <xs:complexType name="BaseFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFault" nillable="true" type="tns:BaseFault" />
</xs:schema>